<header class="site-header">
  <div class="container header-container">
    <a href="/index.html" class="logo">
      <img src="../img/_2.png" alt="Cinemania Logo" />
      <span>Cinemania</span>
    </a>
    <nav class="main-nav">
      <button class="mobile-nav-close">&times;</button>
      <ul>
        <li><a href="/index.html" class="nav-link">HOME</a></li>
        <li><a href="/catalog.html" class="nav-link">CATALOG</a></li>
        <li><a href="/my-library.html" class="nav-link">MY LIBRARY</a></li>
      </ul>
    </nav>

    <div class="theme-switcher">
      <label class="switch">
        <input type="checkbox" id="theme-toggle-checkbox" />
        <span class="slider round">
          <svg class="icon icon-sun"><use xlink:href="../img/symbol-defs.svg#icon-sun"></use></svg>
          <svg class="icon-moon"><use xlink:href="../img/symbol-defs.svg#icon-moon"></use></svg>
          <span class="slider-circle-container">
            <svg class="slider-circle-white"><use href="../img/symbol-defs.svg#icon-circle1"></use></svg>
            <svg class="slider-circle-orange"><use href="../img/symbol-defs.svg#icon-circle1"></use></svg>
          </span>
        </span>
      </label>
    </div>
    <button class="mobile-menu-btn" style="background:none; border:none; color:#fff; font-size:24px; display:none;">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</header>
<div class="mobile-overlay"></div>