@import url('./common.css');
@import url('./catalog.css');
@import url('./index.css');
@import url('./my-library.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./team-modal.css');
@import url('./hero.css');
@import url('./details-modal.css');
@import url('./trailer-error.css');
@import url('./trailer.modal.css');
@import url('./mobile-nav.css');
@import url('./movie-card.css');
