.modal-window.trailer-modal-content {
  width: 800px !important;
  max-width: 95%;

  padding: 0;
  background-color: #000;
  overflow: hidden;
}

.trailer-modal-body {
  position: relative;
  width: 100%;

  padding-bottom: 56.25%;
  height: 0;
  background: #000;
}

.trailer-modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#trailer-modal-close-btn {
  font-size: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  z-index: 20;
}

@media (max-width: 320px) {
  .modal-window.trailer-modal-content {
    height: 130px !important;
  }
}

@media (max-width: 768px) {
  .modal-window.trailer-modal-content {
    height: 230px !important;
  }
}

@media (max-width: 472px) {
  .modal-window.trailer-modal-content {
    height: 175px !important;
  }
}
