/* 5. Trailer Video Modalı (YouTube) */
.trailer-modal-content {
  background: #000;
  padding: 0;
  width: 800px;
  max-width: 95%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trailer-modal-body {
  width: 100%;
  line-height: 0; /* Iframe altındaki boşluğu siler */
}
.trailer-modal-body iframe {
  width: 100%;
  height: 450px; /* Yükseklik ayarı */
  border-radius: 16px;
}
