/* =============================
   5. TRAILER MODAL (VIDEO) STİLLERİ
============================== */

/* .modal-window sınıfının daraltıcı etkisini ezmek için 'trailer-modal-content'i kullanıyoruz */
.modal-window.trailer-modal-content {
  width: 800px !important;   /* Genişliği zorla (Login modalından etkilenmesin) */
  max-width: 95%; 
           /* Mobilde ekranı taşırmasın */
  padding: 0;                /* Videonun kenarında boşluk olmasın */
  background-color: #000;    /* Siyah zemin */
  overflow: hidden;          /* Kenarları yuvarlatınca video taşmasın */
}

/* Iframe Kapsayıcısı */
.trailer-modal-body {
  position: relative;
  width: 100%;
  /* Aspect Ratio (16:9) korumak için padding trick */
  padding-bottom: 56.25%; 
  height: 0;
  background: #000;
}

/* Iframe Ayarı */
.trailer-modal-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Kapatma butonu trailerda biraz daha belirgin olsun */
#trailer-modal-close-btn {
  font-size: 30px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  z-index: 20; /* Videonun üstünde kalsın */
  
}

@media (max-width: 320px) {
.modal-window.trailer-modal-content{
height: 130px !important;
}
}


@media (max-width: 768px) {
.modal-window.trailer-modal-content{
height: 230px !important;
}
}

@media (max-width: 472px) {
.modal-window.trailer-modal-content{
height: 175px !important;
}
}